


.Control
 {
    background: rgb(170,149,205);
    background: linear-gradient(154deg, rgba(182,171,200,1) 50%, rgba(212,199,225,1) 50%);
     height: 100vh;
     
 } 

.login-container
{   

    padding-top:120px;
    .container-loging
    {
        border-radius: 10px;
      
        background-color: bisque;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2); 
        box-sizing: border-box;
        
    }  
    .forgot-password
    {
        text-decoration: none;
        &:hover
        {
            text-decoration: underline;
        }
    }
    
}
